:root {
  --white: #fff;
  --navy: #2e2f42;
  --cl-hover: #404bbf;
  --contact-cl: #434455;
  --blue: #4d5ae5;
  --white-two: #e7e9fc;
  --white-three: #f4f4fd;
  --green-hover: #31d0aa;
  --customers-icon: #8e8f99;
  --black: #000000;
  --modal-bgc: #fcfcfc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--navy);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.section {
  padding: 120px 0px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*header*/

.header {
  background-color: var(--white);
}
.container-header {
  display: flex;
  align-items: center;
}

.bottom-frame {
  border-bottom: 1px solid var(--white-two);
}

.header-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--navy);
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-links:hover {
  color: var(--cl-hover);
}
.header-links:focus {
  color: var(--cl-hover);
  background-color: var(--white);
}
.current {
  position: relative;
  color: var(--blue);
}
.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: var(--cl-hover);
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--contact-cl);
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover {
  color: var(--blue);
}
.contacts:focus {
  color: var(--blue);
  background-color: var(--white);
}

.menu-address {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address {
  margin-left: auto;
  font-style: normal;
}

.logo-header {
  margin-right: 76px;
}

.logo {
  color: var(--navy);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.color-web {
  color: var(--blue);
}
.color-studio {
  color: var(--white-three);
}

/*hero*/

.hero-title {
  color: var(--white);
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 48px;
}

.section-hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;
}

.hero-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.second-hero-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
}

/*main button*/

.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.04em;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover {
  background-color: var(--cl-hover);
}
.main-button:focus {
  background-color: var(--cl-hover);
}

/*advantages*/
.advantages-icons-list {
  display: flex;
  gap: 24px;
}

.advantages-icons-item {
  flex-basis: calc((100%-72) / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--white-three);
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantages-link {
  display: flex;
  width: 64px;
  height: 64px;
}

.advantages-icon {
  display: flex;
  fill: var(--navy);
}

.list-advantages {
  flex-basis: calc((100%-72) / 4);
}

/*What are we doing*/

.section-we-doing {
  padding-top: 0px;
}

/*our team*/

.text-our-tem {
  text-align: center;
}
.section-our-team {
  background-color: var(--white-three);
}
.list-our-team {
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  padding: 32px 0;
  padding-bottom: 0px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-general:not(:last-child) {
  margin-right: 24px;
}

/*Клиенты*/
.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.customers-icon {
  fill: currentColor;
}
.customers-item {
  flex-basis: calc((100%-108) / 6);
  width: 168px;
  height: 88px;
}

.customers-link:hover {
  color: var(--blue);
  border-color: var(--blue);
}
.customers-link:focus {
  color: var(--blue);
  border-color: var(--blue);
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--customers-icon);
  border: solid 1px;
  border-radius: 4px;
  border-color: var(--customers-icon);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*socials*/
.socials-list {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 32px;
  gap: 24px;
}
.socials-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}
.socials-icon {
  width: 16px;
  height: 16px;
  fill: var(--white-three);
}
.socials-icon-footer {
  width: 24px;
  height: 24px;
  fill: var(--white-three);
}

.socials-item {
  width: 40px;
  height: 40px;
}
.socials-item-footer {
  width: 40px;
  height: 40px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover {
  background-color: var(--cl-hover);
}

.socials-link:focus {
  background-color: var(--cl-hover);
}

.socials-link-footer:hover {
  background-color: var(--green-hover);
}

.socials-link-footer:focus {
  background-color: var(--green-hover);
}
/*footer*/

.footer {
  background-color: var(--navy);
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0px, auto;
}
.logo-text-footer {
  margin-right: 120px;
}

.text-footer {
  color: var(--white-two);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 16px;
  text-align: left;
}
.text-social-media {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--white);
}
.container-footer {
  display: flex;
}
.subscribe-form {
  margin-left: 80px;
}

.form-subscribe {
  display: flex;
  gap: 24px;
}
.subscribe-label {
  display: block;
  margin-bottom: 16px;
}
.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: var(--white);
}

.subscribe-input:focus {
  background-color: var(--navy);
}
.button-subscribe {
  width: 165px;
  height: 40px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 4px;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
  transition: background-color var(--transition);
}
.button-subscribe:hover {
  background-color: var(--cl-hover);
}
.subscribe-icon {
  fill: var(--white);
  width: 24px;
  height: 24px;
}

/*portfolio*/

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
  padding-left: 0;
  padding-right: 0;
}

.projects-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.projects-item {
  flex-basis: calc((100% - 48px) / 3);
}

.projects-link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover,
projects-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-text {
  border-left: 1px solid var(--white-two);
  border-right: 1px solid var(--white-two);
  border-bottom: 1px solid var(--white-two);
  padding: 32px 0px;
  padding-left: 16px;
  color: var(--navy);
}

.projects-image {
  position: relative;
  overflow: hidden;
}
.projects-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  padding: 40px 32px 0px 32px;
  transform: translateY(100%);
  transition: transform 250ms;
  color: var(--white-three);
}
.projects-link:hover .projects-description {
  transform: translateY(0%);
}
.button-navigation {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.filter-button {
  cursor: pointer;
  background-color: var(--white-two);
  color: var(--blue);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover {
  background-color: var(--cl-hover);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:focus {
  background-color: var(--cl-hover);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*modal*/

.backdrob {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 88px;
  padding-bottom: 12px;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 1000ms, visibility 1000ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrob.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 408px;
  height: 100%;
  max-height: 584px;
  background-color: var(--modal-bgc);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
  transform: scale(1);
  transition: 1000ms;
}
.backdrob.is-hidden .modal {
  transform: scale(0);
}

.close-icon {
  width: 8px;
  height: 8px;
}
.modal-close {
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-two);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
:focus {
  background-color: var(--cl-hover);
  fill: var(--white);
}

.modal-text {
  width: 360px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
}

.modal-label {
  display: flex;
  width: 54px;
  height: 14px;
  margin-bottom: 4px;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--customers-icon);
}

.modal-input {
  position: relative;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 360px;
  height: 40px;
  padding-left: 38px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--modal-bgc);
  outline: none;
}

.modal-input:focus {
  border: 1px solid var(--blue);
}

.modal-input:focus + .modal-icon {
  fill: var(--blue);
}
.textarea {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 360px;
  height: 120px;
  resize: none;
  padding: 8px 16px;
}

.form-field {
  position: relative;
  margin-bottom: 8px;
}
.contact-form {
  margin-top: 16px;
}
.modal-icon {
  position: absolute;
  bottom: 19px;
  left: 19px;
  width: 18px;
  height: 24px;
  fill: var(--navy);
  transform: translate(-50%, 50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  display: flex;
  margin-top: 16px;
  margin-bottom: 24px;

  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-icon);
}

.label-checkbox {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.input-checkbox {
  appearance: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-position 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked + .checkbox-icon {
  background-image: url(../images/click.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-color: transparent;
}
.checkbox-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--navy);
  border-radius: 2px;
  cursor: pointer;
}
.modal-button {
  display: flex;
  justify-content: center;
}
.button-send {
  width: 169px;
  height: 56px;
  background-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  transition: background-color var(--transition);
}
.button-send:hover {
  background-color: var(--cl-hover);
}
